@import "../utils/size";
@import "../utils/colors";

@each $color, $value in $listColor {
  .but-#{$color} {
    background-color: $value;
  }
}

@each $size, $value in $listSize {
  .but-#{$size} {
    font-size: $value;
    border: 0;
    border-radius: 40px;
    text-transform: uppercase;
    box-shadow: 01px 01px 10px black;
  }
}
