@import "../utils/size";
@import "../utils/colors";
/* background */
@each $color, $value in $listColor {
  .but-#{$color} {
    background-color: $value;
  }
}

/* end background */

/* button */
@each $size, $value in $listSize {
  .but-#{$size} {
    font-size: $value;
    border: 0;
    border-radius: 40px;
    text-transform: uppercase;
    box-shadow: 01px 01px 10px black;
  }
}

/* end button */

/* form text */
@each $form, $value in $listColor {
  .groupform {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }

  .form__field-#{$form} {
    font-family: inherit;
    width: 50%;
    border: 0;
    border-bottom: 2px solid $value;
    outline: 0;
    font-size: 1.3rem;
    color: $white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .form__label-#{$form} {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }

  .form__label-#{$form} {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $grey;
  }

  .form__field-#{$form}:focus {
    ~ .form__label-#{$form} {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $value;
      font-weight: 700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
  }

}

/* end form text */

/* radio */
@each $radio, $value in $listColor {
  .wrapper {
    margin: 8px 0;
  }

  .state {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
  }

  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
  }

  .text {
    margin-left: 16px;
    opacity: .6;
    transition: opacity .2s linear, transform .2s ease-out;
  }

  .indicator {
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
    overflow: hidden;
  }

  .indicator::before,
  .indicator::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }

  .indicator::before {
    box-shadow: -4px -2px 4px 0px #d1d9e6,
    4px 2px 8px 0px #fff;
  }

  .indicator::after {
    background-color: #151200;
    box-shadow: -4px -2px 4px 0px #fff,
    4px 2px 8px 0px #d1d9e6;
    transform: scale3d(1, 1, 1);
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;
  }

  .state:checked ~ .label .indicator::after {
    transform: scale3d(.975, .975, 1) translate3d(0, 10%, 0);
    opacity: 0;
  }

  .state:focus ~ .label .text {
    transform: translate3d(8px, 0, 0);
    opacity: 1;
  }

  .label:hover .text {
    opacity: 1;
  }
}

/* end radio */