$green: green;
$red: red;
$yellow: yellow;
$pink: pink;
$brown: brown;
$black: black;
$white: white;
$grey: grey;
$beige: beige;
$orange: orange;
$blue: blue;
$violet: violet;

$listColor: ("green": $green,
        "red": $red,
        "yellow": $yellow,
        "pink": $pink,
        "brown": $brown,
        "black": $black,
        "white": $white,
        "grey": $grey,
        "beige": $beige,
        "orange": $orange,
        "blue": $blue,
        "violet": $violet,
);
